body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    color: #222;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #ffffff;
    border-bottom: 1px solid #ddd;
    
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.nav-links a.active {
    color: #0866ff;
}

#hero img {
    height: 650px;
    width: 100%;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 40px;
}

.service-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.service-card h2 {
    font-size: 24px;
    margin: 15px;
}

.service-card p {
    margin: 0 15px 20px 15px;
    color: #555;
}

.btn {
    display: block;
    margin: 0 15px 20px 15px;
    padding: 10px;
    text-align: center;
    background: #0866ff;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.8;
}


footer {
    background: black;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}